.filter {
    width: 50%;
}

mat-table {
    border-top: 1px solid black;
}

mat-form-field {
    width: 100%;
}

.mat-row {
    cursor: pointer;
}

.mat-header-cell {
    font-weight: bold;
    color: black;
    flex-direction: column;
    justify-content: center;
}

.mat-cell {
    text-align: center;
    justify-content: center;
    word-break: break-all;
}

@media screen and (max-width: 960px) {
    .mat-table {
        border: 0;
        vertical-align: middle;
    }

    .mat-table caption {
        font-size: 1em;
    }

    .mat-table .mat-header-cell {
        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .mat-table .mat-row {
        border-bottom: 5px solid #ddd;
        display: block;
    }
    .mat-table .mat-row:nth-child(even) {
        background: #ccc;
    }
    .mat-table .mat-row:nth-child(odd) {
        background: #fff;
    }
    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        height: 30px;
        padding: 10px;
        margin-bottom: 4%;
    }
    .mat-table .mat-cell:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;
        font-weight: bold;
        color: black;
        font-size: 0.85em;
    }
    .mat-table .mat-cell:last-child {
        border-bottom: 0;
    }
    .mat-table .mat-cell:first-child {
        margin-top: 4%;
    }
}
